DATABASE_URL2="postgresql://enyelberth:30204334@localhost:5432/sdgdam?schema=public"
DATABASE_URL=postgres://root:npg_IGU1F8ldwHci@ep-dry-dust-a48i0zz9.us-east-1.pg.koyeb.app/koyebdb?sslmode=require&pgbouncer=true&connect_timeout=10
DIRECT_URL=postgres://root:npg_IGU1F8ldwHci@ep-dry-dust-a48i0zz9.us-east-1.pg.koyeb.app/koyebdb?sslmode=require&connect_timeout=10