DATABASE_URL="postgresql://enyelberth:30204334}@localhost:5432/KAIZEN?schema=public"
DATABASE_URL3=postgres://root:npg_IGU1F8ldwHci@ep-dry-dust-a48i0zz9.us-east-1.pg.koyeb.app/Theonefault?sslmode=require&pgbouncer=true&connect_timeout=10
DIRECT_URL=postgres://root:npg_IGU1F8ldwHci@ep-dry-dust-a48i0zz9.us-east-1.pg.koyeb.app/Theonefault?sslmode=require&connect_timeout=10


DATABASE_URL3="postgres://theonefault:npg_ftCvauG6pW7y@ep-empty-frost-a4fcxddt.us-east-1.pg.koyeb.app/koyebdb"
BINANCE_API_KEY2="8EeemDUlYXUrmn8Df2DSWVUs7GWZcAfID1xiLteBQh3ELUWmlG0SStbJ4NJDkDfr"
BINANCE_API_SECRET2="z7S8JFwxIOE6JriR59IewCfvOyJyR7auBbntdPZqUupSA1kSYHJF4e2Hoj87H1vq"
BINANCE_API_KEY="DrWy5q51WaCDvOaXOzT8iSOMINic11PW5imyTK93UjZcKmp9JXHKLhO4H3MuiBxU"
BINANCE_API_SECRET="004SZIOtFMKnwEBOR1OgzloeVwtfPbEM8eWwxwQY9dtZ4xkBkdgPhS4YJAWgNcnL"

BASE_URL = "https://api.binance.com"
BASE_URL2="https://testnet.binance.vision"
GEMINI_API_KEY='AIzaSyB7Lx1oQrYKfn22Ia14ngQLpspQJlDsTuk'
BOOT='8105793514:AAGjn1pUF2HFSKFe5ZDOofBR8mbv53wvvp4'
BOOT2='8314324600:AAHxwt3fUaP3-XNuq4jgdWPDxN6IC0UNTHY'
SOFIA_BOT='8552823999:AAHxaw253153k6oacPS86FEMmS3cH55YGVg'
NODE_ENV="hola"
#Db 

